/* ::-webkit-scrollbar-thumb {
  opacity: 0%;
} */

/* стиль отвечающий за скролбар */
::-webkit-scrollbar {
  /* opacity: 0%; */
  display: none;
}

.footer-contact {
  margin-top: 0px;
}

.address {
  margin-bottom: 0rem;
}

.nav-element {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #ffffff !important;
  margin-right: 16px;
  padding-bottom: 4px;
}

nav .nav-element:hover {
  border-bottom: 2px solid rgba(255, 255, 255, 0.9) !important;
}

.language-buttons-element:hover {
  background: #d9d9d92e;
}

.phone:hover {
  color: #f0145a !important;
}

.phone-footer:hover {
  color: #f0145a !important;
}

.publication-url:hover {
  color: #f0145a !important;
}
