/* -------------------------------- Mobile ---------------------------------- */
@media screen and (min-width: 375px) {
  .logo {
    margin: 15px 0 10px 0;
  }
  .logo a img {
    width: 69.33px;
    height: 32px;
  }

  .card {
    max-width: 315px;
  }
  .card-wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .card img {
    height: 300px;
    min-width: 315px;
    object-fit: cover;
    display: block;
  }

  .header-text {
    font-size: 30px;
    line-height: 37px;
    width: 315px;
    margin-top: -80px;
    margin-bottom: 30px;
  }

  .gray-header-menu {
    display: flex;
    justify-self: end;
    align-items: baseline;
    justify-content: space-between;
  }

  .footer-gray-dot,
  .facebook,
  .address,
  .gray-dot {
    display: none;
  }

  .slash {
    width: 11.62px;
    height: 26px;
  }

  .active-page {
    font-size: 20px;
    line-height: 24px;
  }

  header {
    padding-top: 0;
  }

  .phone {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 104px;
    height: 20px;
    display: contents;
  }

  .language-buttons {
    display: flex;
  }

  .footer-address-a {
    margin-top: 10px;
  }

  .f-circle {
    margin-top: 21px;
  }

  .phone-footer {
    margin-top: 11px;
  }

  .email-footer {
    margin-top: 10px;
  }

  .footer-gray-text {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

/* -------------------------------- Tablet SD ---------------------------------- */
@media screen and (min-width: 768px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }
  .container.wide {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
  }

  .card-wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-text {
    font-size: 38px;
    line-height: 46px;
  }

  .card img {
    min-height: 400px;
  }

  .logo {
    margin: 30px 0;
  }
  .logo a img {
    width: 130px;
    height: 60px;
  }

  .slash {
    width: 21px;
    height: 47px;
  }

  .active-page {
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;
  }

  .header-text {
    font-size: 38px;
    line-height: 46px;
    width: 648px;
    margin-top: -80px;
    margin-bottom: 30px;
  }

  .footer-gray-dot,
  .facebook,
  .address,
  .gray-dot {
    display: flex;
  }

  .gray-background,
  .burger {
    display: none;
  }

  .header-desktop-hd {
    justify-content: flex-start;
  }

  .navigation {
    display: flex;
  }

  .grid-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
      'b c'
      'a a'
      'd d';
  }

  .grid .item1 {
    grid-area: a;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .grid .item2 {
    grid-area: b;
    grid-column: 1/2;
    grid-row: 1/2;
    background: none;
    /* align-items: center; */
  }
  .grid .item3 {
    grid-area: c;
    grid-column: 2/3;
    grid-row: 1/2;
    background: none;
    /* align-items: center; */
    /* display: flex; */
    height: 45px;
  }
  .grid .item4 {
    grid-area: d;
    grid-column: 1/3;
    grid-row: 3/4;
  }
}

/* -------------------------------- Tablet HD ---------------------------------- */
@media screen and (min-width: 1024px) {
  .card-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* -------------------------------- Desktop HD ---------------------------------- */
@media screen and (min-width: 1920px) {
  .card-wrap {
    /* grid-template-columns: repeat(3, 1fr); */
  }
}

/* ------------------------------------ 2K -------------------------------------- */
@media screen and (min-width: 1920px) {
  .card-wrap {
    /* grid-template-columns: repeat(3, 1fr); */
  }
}

/* ------------------------------------ trening -------------------------------------- */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1630px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-wrap {
    /* grid-template-columns: repeat(3, 1fr); */
  }
}
