/* -------------------------------- Mobile ---------------------------------- */
@media screen and (min-width: 375px) {
  .logo {
    margin: 15px 0 10px 0;
  }
  .logo a img {
    width: 69.33px;
    height: 32px;
  }

  .card {
    max-width: 315px;
  }
  .card-wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }

  .card img {
    /* min-height: 300px; */
    height: 300px;
    min-width: 315px;
    object-fit: cover;
    display: block;
  }

  .header-text {
    font-size: 30px;
    line-height: 37px;
    width: 315px;
    margin-top: -80px;
    margin-bottom: 30px;
  }

  .gray-header-menu {
    display: flex;
    justify-self: end;
    align-items: baseline;
    justify-content: space-between;
  }

  .facebook,
  .address,
  .gray-dot {
    display: none;
  }

  .slash {
    width: 11.62px;
    height: 26px;
  }

  .active-page {
    font-size: 20px;
    line-height: 24px;
  }

  header {
    padding-top: 0;
  }

  .phone {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 104px;
    height: 20px;
    display: contents;
  }

  .language-buttons {
    display: flex;
  }
}

/* -------------------------------- Tablet SD ---------------------------------- */
@media screen and (min-width: 768px) {
  .card-wrap {
    grid-template-columns: repeat(2, 1fr);
  }

  .header-text {
    font-size: 38px;
    line-height: 46px;
  }

  .card img {
    min-height: 400px;
  }
}

/* -------------------------------- Tablet HD ---------------------------------- */
@media screen and (min-width: 1024px) {
  .card-wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* -------------------------------- Desktop HD ---------------------------------- */
@media screen and (min-width: 1920px) {
  .card-wrap {
    /* grid-template-columns: repeat(3, 1fr); */
  }
}

/* ------------------------------------ 2K -------------------------------------- */
@media screen and (min-width: 1920px) {
  .card-wrap {
    /* grid-template-columns: repeat(3, 1fr); */
  }
}

/* ------------------------------------ trening -------------------------------------- */
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1630px;
    margin-left: auto;
    margin-right: auto;
  }

  .card-wrap {
    /* grid-template-columns: repeat(3, 1fr); */
  }
}
