:root {
  --text-color: #161513;
  --text-color-white: #FFFFFF;
  --text-color-orange: #E94D35;
  --color-orange: #E94D35;
  --color-white: #FFFFFF;
  --background-color-black: #161513;
  --background-color-gray: #E6E3DE;
  --background-color-light: #F5F5F5;
  --bg-site-color: #F2F1EF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #161513;
}

button {
  border: none;
  background: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.btn {
  display: inline-block;
  min-width: 126px;
  font-size: 16px;
  line-height: 1.5; /* 24px */
  color: var(--text-color);
  padding: 9px;
  text-align: center;
  border: 1px solid #161513;
  background: none;
  cursor: pointer;
}

.btn-big {
  padding: 12px;
  min-width: 1060px;
  font-size: 20px;
  line-height: 1.6; /* 32px / 20px */
}

.btn-small {
  padding: 12px;
  min-width: 140px;
  font-size: 23px;
  line-height: 1.4;
}

.btn-black {
  color: var(--text-color-white);
  background-color: var(--background-color-black);
}

.btn-left {
  padding: 13px;
  min-width: 179px;
}

.btn-right {
  padding: 13px;
  min-width: 144px;
}

.bg-color {
  background-color: var(--bg-site-color);
}

/* ---------------------------HEADER--------------------------- */

.navigation-site {
  display: flex;
  height: 96px;
}

.navigation-site .nav-link {
  padding-bottom: 7px;
  border-bottom: 1px solid #161513;
  margin-left: 16px;
  margin-right: 16px;
}


