@import url('../fonts/font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* -webkit-tap-highlight-color: transparent; */
  /* overflow-y: hidden; */
  font-family: 'Montserrat', sans-serif !important;
}

img {
  max-width: 100%;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #303030;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #303030;
}

p {
  margin-bottom: 0;
}
button {
  background: none;
  border: none;
  cursor: pointer;
}

footer {
  margin-top: 60px;
}

header {
  padding-top: 50px;
}

.z-index-1 {
  z-index: 1;
}

.gray-background {
  background: #f5f5fa;
  margin-left: -15px;
  margin-right: -15px;
  height: 45px;
  margin-top: -104px;
  z-index: -1;
}

.block {
  display: block;
  position: absolute;
}

.header-desktop-hd {
  display: grid;
  justify-content: space-between;
}

.navigation {
  display: none;
}

.mt108 {
  margin-top: 108px;
}

.none {
  display: none;
}

.grid {
  display: grid;
}

.grid-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'a b'
    'c d';
}

.grid .item1 {
  grid-area: a;
  grid-column: 1/2;
  grid-row: 2/3;
}
.grid .item2 {
  grid-area: b;
  grid-column: 1/2;
  grid-row: 1/2;
  background: #f5f5fa;
  align-items: center;
}
.grid .item3 {
  grid-area: c;
  grid-column: 2/3;
  grid-row: 1/2;
  background: #f5f5fa;
  align-items: center;
  display: flex;
  height: 45px;
}
.grid .item4 {
  grid-area: d;
  grid-column: 2/3;
  grid-row: 2/3;
}

.checkbox {
  position: absolute;
  /* left: 328px; */
  margin-left: 72px;
  top: 57px;
  width: 32px;
  height: 32px;
  opacity: 0;
  z-index: 3;
}

.burger {
  width: 32px;
  height: 32px;
  position: relative;
  z-index: 2;
  float: right;
  top: 12px;
}

input:active + .burger {
  width: 32px;
  height: 32px;
  background: #e6e6f0;
  border-radius: 8px;
  z-index: 0;
}

/* input:checked {
  top: 293px;
  left: 257px;
} */

.burger span {
  display: inline-block;
  width: 18px;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 5px;
  opacity: 1;
  transition: all 0.2s linear;
}

.burger span:first-child {
  top: 9px;
  left: 7px;
}

.burger span:nth-child(2),
.burger span:nth-child(3) {
  top: 15px;
  left: 7px;
}

.burger span:last-child {
  top: 21px;
  left: 7px;
}

.checkbox:checked + .burger + .burger-nav {
  transform: translateY(0%);
  transition: all 0.2s linear;
}

.burger-nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  inset: 0;
  padding-top: calc(50px + 2rem);
  /* padding-left: 1rem; */
  background: rgba(50, 50, 100, 0.7);
  /* opacity: 0.7; */
  color: #fff;
  font-size: 2rem;
  transform: translateY(100%);
  align-items: center;
}

.white-container {
  padding: 0 12px 12px 12px;
  position: absolute;
  width: 359px;
  height: 351px;
  bottom: 0px;
  background: #ffffff;
  border-radius: 12px 12px 0px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.white-container a {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #24a3ff;

  margin-bottom: 15px;
  display: flex;
  align-items: center;
  height: 43px;
  background: #f5f5fa;
  border-radius: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 335px;
  justify-content: center;
  /* text-decoration: none; */
  -webkit-tap-highlight-color: transparent;
}
.white-container a:first-child {
  background: #ffffff;
  max-width: 32px;
  max-height: 32px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  margin-right: 0;
  margin-top: 0;
}
.white-container a:nth-child(2) {
  margin-top: 5px;
}

.white-container a:active {
  background: #e6e6f0;
}

.active-burger-navigation {
  color: #f0145a !important;
}

.white-container a:last-child {
  margin-bottom: 0;
}

.gap-rem {
  gap: 1rem;
}

.logo {
  /* display: contents; */
  display: flex;
}
.hidden {
  display: none !important;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container.wide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-hw {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container-hw.wide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.slash {
  width: 21px;
  height: 47px;
  margin-left: 4px;
  margin-right: 4px;
}

.active-page {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #323264;
}

.gray-header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gray-header-menu div {
  margin: 0 6px;
}

.language-buttons-element {
  font-weight: 700;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  color: #b3b3ba;
  width: 33px;
  height: 25px;
  padding: 5px 7px;
}

.language-buttons-element:hover {
  padding: 5px 7px;
  gap: 6px;
  width: 33px;
  height: 25px;
  background: #f5f5fa;
  border-radius: 8px;
}

.language-buttons {
  margin: 0 0 !important;
  display: contents;
}

.active-language {
  padding: 5px 7px;
  gap: 6px;
  width: 33px;
  height: 25px;
  background: #f0145a !important;
  border-radius: 8px;
  color: #ffffff;
}

.address {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}

.phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}

.phone:hover {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #98989e;
}

.gray-dot {
  border-radius: 6px;
  width: 6px;
  height: 6px;
  background: #e6e6f0;
}

.facebook {
  display: contents;
}

.facebook:hover svg path {
  fill: #f0145a;
}

nav .nav-element {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #24a3ff;
  margin-right: 16px;
  padding-bottom: 2px;
}

nav .nav-element:hover {
  border-bottom: 2px solid #24a3ff;
}

.active-navigation {
  color: #f0145a !important;
  border-bottom: 2px solid #f0145a !important;
}

.navigation {
  padding-bottom: 1px;
}

/* ---------------------------------------------------------------------------------------- */

.header-text {
  font-weight: 700;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper {
  width: 100%;
  background-color: #ccc;
  margin: 0 auto;
}

.card-wrap {
  display: grid;
  justify-items: center;
}

.card h2 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  margin-bottom: 5px;
}

.card:hover h2 {
  color: #f0145a;
}

.card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
}

.card img {
  border-radius: 12px;
}

.card span {
  border-radius: 16px;
  background: #f5f5fa;
  width: 32px;
  height: 32px;
  margin-top: 15px;
}

.card a:hover span svg path {
  stroke: #f0145a;
}

.card a:hover span {
  background: #ededf7;
}

/* --------------------------------------------------------------------------------- */

footer {
  background: #f5f5fa;
}

.footer-info {
  display: grid;
  padding-top: 30px;
}

.footer-address-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.footer-address-a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.footer-facebook {
  display: contents;
}

.footer-facebook:hover svg path {
  fill: #f0145a;
}

.phone-footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466e;
}

.email-footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
}

.email-footer:hover {
  color: #f0145a;
}

.footer-gray-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}

.footer-gray-dot {
  border-radius: 6px;
  width: 6px;
  height: 6px;
  margin: 10px 10px;
  background: #b3b3ba;
}

.grid-footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(3, 1fr);
  /* grid-template-areas:
    'a'
    'b'
    'с'; */
}

.grid .f-item1 {
  /* grid-area: a; */
  grid-column: 1/2;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid .f-item2 {
  /* grid-area: b; */
  grid-column: 1/2;
  grid-row: 2/3;
  background: #f5f5fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid .f-item3 {
  /* grid-area: c; */
  grid-column: 1/2;
  grid-row: 3/4;
  background: #f5f5fa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.contact-black-text {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #323264;
  margin-top: 30px;
}
.contact-phone {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #46466e;
}
.contact-email {
  font-weight: 400;
  font-size: 21px;
  line-height: 30px;
  color: #24a3ff;
  margin-top: 15px;
}
.contact-email:hover {
  color: #f0145a;
}

.contact-facebook {
  margin-top: 0 !important;
}

.contact-facebook-row h2 {
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.form-gray-background {
  padding: 30px;
  background-color: #f5f5fa;
  border-radius: 12px;
  margin-top: 30px;
}

.form-text-gradient {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  margin-bottom: 30px;
}

.form-gray-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  margin: 15px 0;
}

input,
textarea {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}

textarea:focus {
  outline: none;
  background: #ffffff;
  border: 1px solid #24a3ff;
}

.form-input-text {
  padding: 15px;
  gap: 10px;
  width: 100%;
  height: 56px;
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 8px;
  margin-bottom: 15px;
}

.form-input-text:focus {
  border: 1px solid #24a3ff;
  outline: none;
}

.form-input-text::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #b3b3ba;
  font-family: 'Montserrat';
  font-style: normal;
}

.form-input-text:nth-child(4) {
  min-height: 130px;
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  resize: none;
}

.form-input-text:last-child {
  margin-bottom: 30px;
  min-width: 255px;
}

.form-input-button {
  padding: 18px 30px;
  height: 56px;
  width: 100%;
  background: #24a3ff;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  margin-top: 15px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  border: none;

  font-family: 'Montserrat';
  font-style: normal;
}

.form-input-button:hover {
  background: #0085ff;
}

.form-input-button:active {
  background: #006ccf;
}

.gray-rectangle {
  height: 4px;
  background: #e6e6f0;
  margin: 30px 0;
}

.footer-contact {
  margin-top: 30px;
}

.red-text-facebook {
  display: flex;
}

.red-text-facebook:hover h2 {
  color: #f0145a;
}

.burger-new {
  position: relative;
  width: 50px;
  height: 50px;
  border: 1px solid;
}

.burger-new span {
  width: 40px;
  height: 2px;
  background-color: black;
  display: block;
  margin-bottom: 10px;
}

.slick-dots li button::before {
  font-size: 16px;
  opacity: 0.2;
  color: #24a3ff;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #24a3ff;
}

.modal-wrapper {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* border-color: rgba(0, 0, 0, 0.75); */
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  inset: 0;
}

.modal-wrapper.active-new {
  display: flex;
}

.modal-window {
  /* border-color: white; */
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  /* min-width: 500px; */
  max-width: 500px;
  position: relative;
}

.modal-window .close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  font-size: 2rem;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.background-gradient {
  background: linear-gradient(
    265deg,
    #323264 11.93%,
    #323264 57.17%,
    #643e72 87.46%
  );
  border-radius: 0px 0px 12px 12px;
}

.gray-capacity-background {
  background: rgba(245, 245, 250, 0.2);
  position: absolute;
  width: 100%;
  height: 45px;
  left: 0px;
  z-index: -1;
}

.active-page-white {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.big-h {
  background-image: url(../images/homepage/big_h.svg);
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 600px;
}

.background-none {
  background: none !important;
}

.burger-white {
  border: 1px solid #ffffff !important;
}

.color-white {
  color: #ffffff !important;
}

.background-gradient-2 {
  background: #cacadb;
  border-radius: 0px 0px 12px 12px;
  margin: 0 20px;
  height: 10px;
}

.background-gradient-3 {
  background: #e7e7f2;
  border-radius: 0px 0px 12px 12px;
  margin: 0 40px;
  height: 10px;
}

.white-container-fix {
  margin: 0% 17% 31% 0;
}

.h-text {
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  color: #ffffff;
  z-index: 0;
  margin-top: -368px;
  margin-bottom: 158px;
}

.button-h {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
  z-index: 1;
  margin: -30px 0 0 0;
}

.href-button-h:hover .button-h {
  border: 2px solid #f0145a;
  stroke: #f0145a;
  transition: 0.3s;
  opacity: 0.5;
  cursor: pointer;
}

.arrow-svg {
  margin: 17px 0px 0 11px;
}

.href-button-h:hover .arrow-svg .button-arrow {
  stroke: #f0145a;
  /* opacity: 0.5; */
}

.info-under-h {
  margin-top: 30px;
}

.urls {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
}

.urls-info-under-h-element {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  color: #b3b3ba;
  --bs-nav-link-color: none;
  --bs-nav-link-hover-color: none;
  --bs-nav-pills-link-active-bg: linear-gradient(
    90.13deg,
    #ef8080 0.84%,
    #f0145a 99.96%
  );
  --bs-nav-pills-link-active-color: linear-gradient(
    90.13deg,
    #ef8080 0.84%,
    #f0145a 99.96%
  );
  --bs-nav-link-padding-x: none;
  white-space: nowrap;
  margin: 0 0 16px 30px;
}

.urls-info-under-h-element:hover {
  color: #f0145a;
}

.urls-info-under-h-element:active {
  background: linear-gradient(90.13deg, #ef8080 0.84%, #f0145a 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.active-urls-element {
  background: linear-gradient(
    90.13deg,
    #ef8080 0.84%,
    #f0145a 99.96%
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
  background-clip: text !important;
  text-fill-color: transparent !important;
}

.gray-opacity-line {
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  margin: 0 auto 30px auto;
}

.h3-urls {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.p-urls {
  margin-top: 30px;
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  color: #ffffff;
}

.blue-text-services {
  display: flex;
  margin-top: 30px;
  margin-bottom: 10px;
}

.blue-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
  margin-right: 2px;
  display: flex;
}

.blue-text:hover {
  color: #f0145a;
  stroke: #f0145a;
}

.blue-text:hover svg path {
  stroke: #f0145a;
}

.blue-text-arrow {
  margin-top: 1px;
}
.blue-arrow {
  margin-top: 1px;
}

.gradient-text-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
}

.gradient-text-footer {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
}

.services-cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.services-card-icon {
  width: 92px;
  height: 92px;
  background: #ffffff;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.services-card-icon img {
  width: 64px;
  height: 64px;
}

.services-card {
  margin-bottom: 30px;
}

.services-card h3 {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #24a3ff;
  margin-bottom: 15px;
}

.services-card p {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
}

.services {
  padding-bottom: 30px;
}

.team-slider {
  margin-top: 30px;
}

.team-slider-element {
  background: #f5f5fa;
  border-radius: 12px;
  margin: 0 30px;
}

.team-slider-element-img {
  border-radius: 12px 12px 0 0;
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.team-slider-element-text h2 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-bottom: 30px;
  word-break: break-word;
}

.team-slider-element-text h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #b3b3ba;
  margin-bottom: 4px;
}

.team-slider-element-text p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
  margin-bottom: 30px;
}

.team-slider-element .blue-text-services {
  margin-bottom: 5px;
}
.team-slider-element .blue-text {
  margin-right: 0;
}

.slick-dots {
  margin: -25px 0px;
}

.slick-dots li button::before {
  font-size: 18px;
}

.client-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  margin: 78px 0 29px 0;
}

.clients {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.client-cell {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.client-cell:nth-child(1) {
  background: #1c4280;
}
.client-cell:nth-child(2) {
  background: #143646;
}
.client-cell:nth-child(3) {
  background: linear-gradient(0deg, #f48b30, #f48b30), #f48b30;
}
.client-cell:nth-child(4) {
  background: #9e4dc3;
}
.client-cell:nth-child(5) {
  background: #fd9339;
}
.client-cell:nth-child(6) {
  background: #e2e2e4;
}

.client-cell:nth-child(7) {
  background: #c71c36;
  display: none;
}

.client-cell:nth-child(8) {
  background: #dcf3f9;
  display: none;
}

.client-cell:nth-child(9) {
  background: #eaeaea;
  display: none;
}

.client-cell:nth-child(10) {
  background: #282240;
  display: none;
}

.client-cell:nth-child(11) {
  background: #1d4568;
  display: none;
}

.client-cell:nth-child(12) {
  background: #000000;
  display: none;
}

.publication-blue-text {
  margin-bottom: 5px;
  padding-top: 30px;
  margin-top: 0;
}

.publications-cards-table {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  /* margin-bottom: 30px; */
}

.publications-cards {
  display: grid;
}

.publication-card-element {
  background: #ffffff;
  border-radius: 8px;
  margin-bottom: 30px;
}

.publication-card-element-img {
  border-radius: 8px 8px 0px 0px;
  height: 200px;
  margin-bottom: 30px;
  object-fit: cover;
  width: 100%;
}

.publication-url {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
}

.month-day {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #b3b3ba;
  margin-top: 15px;
}

.publications-gray-line {
  border: 2px solid #a3a3ab;
  background-color: #a3a3ab;
  margin: 15px 0;
}

.publication-dark-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 30px;
}

.gray-publications-background {
  background: #f5f5fa;
}

.line-before-footer {
  border: 1px solid #b1b1b1;
  margin: 0 0;
  background-color: #b1b1b1;
}

/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////////// */

.services-page-gradient-text-header {
  padding-top: 132px;
}

.services-entry {
  padding-top: 132px;
}

.white-box {
  width: 92px;
  height: 92px;
  background: #ffffff;
  border-radius: 24px;
  padding: 14px;
  margin-left: auto;
  margin-right: auto;
}

.services-entry-gradient-h3 {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  margin-top: 28px;
}

.services-entry-gradient-p {
  font-weight: 400;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
  margin-top: 29px;
}

.services-entry-gradient-p:last-child {
  margin-top: 20px;
}

.services-entry-popup {
  padding: 18px 30px;
  gap: 10px;
  width: 208px;
  height: 56px;
  background: #24a3ff;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  margin-top: 27px;
  margin-left: 53px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

.services-entry-line {
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  margin: 30px 0;
}

.services-entry-ul {
  list-style-type: circle;
}
