@import url('../fonts/font.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-y: hidden; */
}

img {
  max-width: 100%;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #303030;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #303030;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

footer {
  margin-top: 60px;
}

header {
  padding-top: 50px;
}

.header-desktop-hd {
  display: grid;
  justify-content: space-between;
}

.box1 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.box2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.box3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: self-end;
}

.margin-top-16 {
  margin-top: 9px;
}

.hidden {
  display: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
}

.container.wide {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.slash {
  width: 21px;
  height: 47px;
  margin-left: 4px;
  margin-right: 4px;
}

.active-page {
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #323264;
}

.gray-header-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.gray-header-menu div {
  margin: 0 6px;
}

.language-buttons-element {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  letter-spacing: 1px;
  color: #b3b3ba;
  width: 33px;
  height: 25px;
  padding: 5px 7px;
}

.language-buttons-element:hover {
  padding: 5px 7px;
  gap: 6px;
  width: 33px;
  height: 25px;
  background: #f5f5fa;
  border-radius: 8px;
}

.language-buttons {
  margin: 0 0 !important;
  display: contents;
}

.active-language {
  padding: 5px 7px;
  gap: 6px;
  width: 33px;
  height: 25px;
  background: #f0145a !important;
  border-radius: 8px;
  color: #ffffff;
}

.address {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}

.phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}

.gray-dot {
  border-radius: 6px;
  width: 6px;
  height: 6px;
  background: #e6e6f0;
}

.facebook {
  display: contents;
}

.facebook:hover svg path {
  fill: #f0145a;
}

nav a {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #24a3ff;
  margin-left: 12px;
}

nav a:hover {
  border-bottom: 2px solid #24a3ff;
}

.active-navigation {
  color: #f0145a;
  border-bottom: 2px solid #f0145a !important;
}

.navigation {
  padding-bottom: 1px;
}

/* ---------------------------------------------------------------------------------------- */

.header-text {
  font-weight: 700;
  background: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper {
  width: 100%;
  background-color: #ccc;
  margin: 0 auto;
}

.card-wrap {
  display: grid;
}

.card {
  /* display: inline-table; */
  /* width: 493.33px;
  height: 462px; */
}

.card h2 {
  margin-top: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  margin-bottom: 5px;
}

.card:hover h2 {
  color: #f0145a;
}

.card p {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b3b3ba;
}

.card img {
  border-radius: 12px;
  /* object-fit: cover;
  display: block;
  width: 493.33px;
  height: 400px; */
}

.card span {
  border-radius: 16px;
  background: #f5f5fa;
  width: 32px;
  height: 32px;
  margin-top: 15px;
}

.card a:hover span svg path {
  stroke: #f0145a;
}

.card a:hover span {
  background: #ededf7;
}

/* --------------------------------------------------------------------------------- */

footer {
  background: #f5f5fa;
}

.footer-info {
  display: grid;
  padding-top: 30px;
}

.footer-address-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.footer-address-a {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24a3ff;
}

.footer-facebook {
  display: contents;
}

.footer-facebook:hover svg path {
  fill: #f0145a;
}

.phone-footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #46466e;
}

.email-footer {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #24a3ff;
}

.email-footer:hover {
  color: #f0145a;
}

.footer-gray-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: #b3b3ba;
}

.f-box1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  display: flex;
  align-items: center;
}

.f-box2 {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  display: flex;
  padding-top: 21px;
  padding-bottom: 30px;
  align-items: center;
}

.f-box3 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  justify-self: self-end;
}

.footer-gray-dot {
  border-radius: 6px;
  width: 6px;
  height: 6px;
  margin: 10px 10px;
  background: #b3b3ba;
}
